// Заголовки, загальні БЕМ блоки та інше...
//========================================================================================================================================================

.page {
  // .page__main
  &__main {
  }
  // .page__categories
  &__categories {
  }
  // .page__collections
  &__collections {
  }
  // .page__tranding
  &__tranding {
  }
  // .page__insights
  &__insights {
  }
  // .page__download
  &__download {
  }
}

//=================================================================================

.title {
  font-family: "MonumentExtended";
  @include adaptiveValue("font-size", 30, 18);
  line-height: math.div(36, 30);
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
//========================================================================================================================================================
